<h1>Scegli la marca che preferisci!
  <div class="menuMarche">
    <img src="../../../assets/logo/superga.png" alt="superga" (click)="cambiaLista('superga')" class="marche">
    <img src="../../../assets/logo/adidas.jpg" alt="adidas" (click)="cambiaLista('adidas')" class="marche">
    <img src="../../../assets/logo/vans.jpg" alt="vans" (click)="cambiaLista('vans')" class="marche">
  </div>
</h1>

<div [ngSwitch]="listaToShow">
  <div *ngSwitchCase="'superga'">
    <ngb-carousel >
      <ng-template ngbSlide *ngFor="let product of productsSuperga | async">
        <div class="picsum-img-wrapper">
          <img [src]="product.img" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ product.marca }}</h3>
          <p>{{ product.colore }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="bott">
      <button [routerLink]="'/personalizza'">Personalizza ora</button>
    </div>
  </div>

  <div *ngSwitchCase="'vans'">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let product of productsVans | async">
        <div class="picsum-img-wrapper">
          <img [src]="product.img" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ product.marca }}</h3>
          <p>{{ product.colore }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="bott">
      <button [routerLink]="'/personalizza'">Personalizza ora</button>
    </div>
  </div>

  <div *ngSwitchCase="'adidas'">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let product of productsAdidas | async">
        <div class="picsum-img-wrapper">
          <img [src]="product.img" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ product.marca }}</h3>
          <p>{{ product.colore }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="bott">
      <button [routerLink]="'/personalizza'">Personalizza ora</button>
    </div>
  </div>
</div>